---
apikey: 
url: 
sleeptime: 10
identity:
  # role_arn: 
  # access_key_id:
  # secret_access_key:
  # region: {{ config["region"] }}
cases:
{% for case in cases %}
    {{ case.name|lower|replace(" ", "_") }}:
        # {{ case.description|replace("\n", "") }}
        name: "{{ case.name }}"
        path: "{{ case.category|lower|replace(" ", "_") }}/{{ case.name|lower|replace(" ", "_") }}"
        args:{% if case.input_arguments %}{% for arg in case.input_arguments %}
            # {{ case.input_arguments[arg].description}}
            {{ arg }}: "{{ case.input_arguments[arg].value }}" {% endfor %}{% endif %}
{% endfor %}