appdirs==1.4.4
astroid==2.4.1
attrs==19.3.0
black==19.10b0
click==7.1.2
colorama==0.4.3; sys_platform == "win32"
future==0.18.2
isort==4.3.21
jinja2==2.11.2
joblib==0.15.1; python_version > "2.7"
lazy-object-proxy==1.4.3
livereload==2.6.1
lunr==0.5.8
markdown==3.2.2
markupsafe==1.1.1
mccabe==0.6.1
mkdocs==1.1.2
mkdocs-material==5.2.2
mkdocs-material-extensions==1.0
nltk==3.5; python_version > "2.7"
pathspec==0.8.0
pygments==2.6.1
pylint==2.5.2
pymdown-extensions==7.1
pyyaml==5.3.1
regex==2020.5.14
six==1.15.0
toml==0.10.1
tornado==6.0.4
tqdm==4.46.1; python_version > "2.7"
typed-ast==1.4.1
typer==0.2.1
wrapt==1.12.1
